@very-light-gray: #EFEFEF;
@light-gray: #BFBFBF;
@gray: #8F8F8F;
@dark-gray: #5F5F5F;
@very-dark-gray: #2F2F2F;

@cyan: #66FFFF;
@blue: #089BD8;
@purple: #FF00CC;
@green: #66FF66;
@red: #FF6666;
@orange: #FFFF66;
@light-orange: #FFFFAA;

@theme-color-one: #FF00CC;
@theme-color-two: #CC00A3;
@theme-color-three: #8F0072;
@theme-color-four: #660052;
@theme-color-five: #3D0031;
@theme-color-six: #200019;
